body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
}
p {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.08em;
}
.sticky p {
    line-height: 1.45em;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    padding: 0.93em 0;
}
.sticky ul {
    padding: 0.4em 0;
    list-style-type: none;
    line-height: 2.71em;
    letter-spacing: 0.08em;
}
.sticky h2 {
    position: sticky;
    top: 15%;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.08em;
}
h2 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.08em;
    margin-top: 0;
    line-height: 1.4em;
}

h3 {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.08em;
}

footer {
    font-size: 20px;
    font-weight: 300;
}
footer h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0.4em;
}
button {
    cursor: pointer;
    border: 1px solid #000;
    padding: 10px 21px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.1em;
}

/*burger*/
.offcanvas-header {
    padding: 0!important;
}
/*category color*/
.Candles {
    background-color: #9e9cff;
  }
.Diffusers {
    background-color: #c8e083;
  }
.Diffusers, .Candles {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    padding: 2px 22px;
}
/*category color*/
.relative {
    position: relative;
}
/*spacers*/
.margin-b-6 {
    margin-bottom: 6.6em !important;
}
.margin-b-5 {
    margin-bottom: 5.3em !important;
  }
  .margin-t-6 {
    margin-top: 6.6em !important;
  }
  .margin-t-5 {
    margin-top: 5.3em !important;
  }
  .margin-t-3 {
    margin-top: 3.4em !important;
  }
  .margin-b-3 {
    margin-bottom: 3.25em;
}
.margin-t-1 {
    margin-top: 1.7em !important;
  }
  .margin-b-1 {
    margin-bottom: 1.3em !important;
  }
  .margin-b-2 {
    margin-bottom: 2em !important; 
  }
  .margin-b-0-2 {
    margin-bottom: 0.2em !important;
  }


  /*main*/
  .title-on-the-image {
	position: absolute;
    top: 40%;
    color: #fff;
    left: 9%;
    font-size: 48px;
}
  .home_img_bg_product {
    width: 22%;
    position: absolute;
    top: 20%;
    right: 10%;
    }
    .home_img_bg_container {
        position: relative;
    }
    .home_img_bg {
        width: 100%;
    }
  /*main*/
/*spacers*/
.centered-blocks {
    display: flex;
    align-items: center;
}
.anim-underline a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.anim-underline a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    bottom: -4px;
    transform: scale(0, 1);
    transition: transform 0.3s;
    transform-origin: left top;
}
.anim-underline a:hover::after {
    transform: scale(1, 1);
}

.get-started {
    font-size: 18px;
    color: #fff;
    line-height: 58px;
    background: #008379;
    border-radius: 4px;
    padding: 0 30px;
    margin: 0 0 40px 0;
    cursor: pointer;
}

.list_tick li {
    list-style-type: none;
}
.list_tick li::before {content:"✔ ";}


.separator {
    width: 100%;
    height: 1px;
    background: #000;
}

.scale {
    transition: .3s;
}

.scale:hover {
    transform: scale(1.2);
}
/* Float */
.float-up {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float-up:hover {
    transform: translateY(-5px);
}
/*header*/
.header-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
}

.header-menu li {
    padding: 0;
}

.header-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.08em;
    padding: 0 8px;
}

.top-header {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.top-header img {
    margin: 0 5px;
}

.bottom-header {
    padding: 0 0 15px 0;
    margin-top: 1.5em !important;
}
.bottom-header ul {
    padding: 0;
}
.bottom-header li a {
text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 300;
}
/*header end*/




/*footer*/
footer li {
    margin: 4px 0;
}
.footer-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-menu a {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 0.08em;
    line-height: 1.9em;
}

.footer-logo-row {
    padding: 35px 0;
}

.footer-bottom-row {
    padding: 3.4em 0;
}
.footer-bottom-row p {
    display: flex;
    align-items: flex-end;
}

footer p {
    margin: 0;
}
.footer-social {
    display: block;
}
.footer-social a {
    margin: 1em 0;
}
/*footer end*/


/*product list woo*/
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	float: left;
    margin: 0 2%;
    padding: 1.2em 1.1em;
    position: relative;
    width: 18%;
    margin-left: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_loop_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  
}
.single-card-body{
     margin-top: 1.4em;
}
.single-card-body h2 {
    text-align: left;
}
.shopping_cart_loop {
    background-color: #fff;
    padding: 8px 10px;
    min-width: 43px !important;
    margin: 9px 0;
}

.woocommerce .products ul,
.woocommerce ul.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
    display: flex;
}



.woocommerce-loop-product__link {
    display: flex;
    justify-content: center;
    z-index: 1;
}
.single-card-body .woocommerce-loop-product__link {
    display: flex;
    justify-content: flex-start;
    z-index: 1;
}
.product_loop_description a {
    z-index: 1;
}
.woocommerce ul.products li.product a img {
    width: 80%;
    margin: auto;
}
.product-icon {
    margin-bottom: 0.9em;
	opacity: 0;
}
.product-icon span {
    color: #fff !important;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 2px 10px;
}
#top {
    background: #52ae32;
}
#new {
    background: #1D71B8;
}

.item-card img {
    width: 80%;
    z-index: 1;
}

.item-card h2
{
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #000 !important;
    margin: 0 !important;
}

.item-card .price {
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #000 !important;
    margin: 0 !important;
}
.item-card {
    overflow: hidden;
    float: left;
    margin: 0 2%;
    padding: 1.2em 1.2em;
    position: relative;
    width: 30.3%;
    margin-left: 0;
    background: #fff;
    list-style-type: none;
    margin: 0px 0.6em;
    padding: 3em 1.2em 1.4em 1.2em;
}
/*product-cat-template*/
.product-cat-template .product_loop_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    /*margin-top: 2.5em;*/
}
.product-cat-template .item-card h2{
    font-size: 20px !important;
    font-weight: 400 !important;
    color: #000 !important;
    margin: 0 !important;
}
 .product-cat-template .item-card .price {
    font-size: 20px !important;
    font-weight: 300 !important;
    color: #000 !important;
    margin: 0 !important;
}
.product-cat-template .item-card {
    overflow: hidden;
    float: left;
    margin: 0 2%;
    padding: 1.2em 1.2em;
    position: relative;
    width: 30.3%;
    margin-left: 0;
    background: #fff;
    list-style-type: none;
    margin: 0px 0.6em;
    padding: 1em 1.2em 1.1em 1.2em;
    margin: 0px 0.6em 3em;
}
.product-cat-template .home_img_bg_product {
    width: 29%;
    position: absolute;
    top: 11%;
    right: 11%;
}
.product-cat-template .columns-1 .item-card {
    overflow: hidden;
    float: left;
    position: relative;
    width: 100%;
    background: #fff;
    list-style-type: none;
    margin: 0px 0.6em;
    padding: 0.7em 1.2em 1.1em 1.2em;
}
/*end*/
.columns-4 .item-card {
    width: 22.3%;
    margin: 0px 0.6em;
    padding: 0.8em 1.2em 1.4em 1.2em;
}
.columns-3 .item-card {
    width: 30%;
    margin: 0 0.6em;
    padding: 0.8em 1.2em 1.4em;
}
.columns-1 .item-card {
    overflow: hidden;
    float: left;
    position: relative;
    width: 96%;
    background: #fff;
    list-style-type: none;
    margin: 0px 0.6em;
    padding: 0.7em 1.2em 1.1em 1.2em;
}
.white-text {
    color: #fff!important;
}
.flex-col {
    display: flex;
    flex-wrap: wrap;
}
@media(max-width: 1500px) {
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
    }
    .list_tick li {
        font-size: 20px;
    }
    .sticky p {
        font-size: 20px;
    }
    .footer-menu a {
        font-size: 20px;
    }
    footer h2 {
        font-size: 20px;
    }
    button {
        font-size: 15px;
    }
    .margin-t-6 {
        margin-top: 4em !important;
    }
    .margin-t-5 {
        margin-top: 1.2em !important;
    }
    .margin-t-3 {
        margin-top: 2.25em !important;
    }
    .margin-t-1 {
        margin-top: 1em !important;
    }
    .margin-b-6 {
        margin-bottom: 4em !important;
    }
    .margin-b-3 {
        margin-bottom: 2.25em;
    }
    .title-on-the-image {
        left: 15%; /*homepage.css*/
    }

  }
@media (max-width: 1200px) {
    .columns-4 .item-card {
        width: 40%;
    }
    .columns-3 .item-card {
        width: 30%;
        margin: 0 0.6em;
        padding: 0.8em 1.2em 1.4em;
    }
    .item-card {
        padding: 1.4em 1.2em 1.4em 1.2em;
    }
    .item-card, .product-cat-template .item-card {
        width: 29.3%;
    }
    .product-cat-template .home_img_bg_product {
        width: 29%;
        position: absolute;
        top: 7%;
        right: 11%;
    }
}
@media (max-width: 991px) {
    .columns-4 .item-card {
        width: 43%;
    }
    .columns-3 .item-card {
        width: 29%;
        margin: 0 0.6em;
        padding: 0.8em 1.2em 1.4em;
    }
    .columns-1 .item-card {
        width: 100%;
        top: -10px;
        padding: 0.2em 0.8em 0.6em 0.8em;
    }
    .category {
        padding: 0 2em;
    }
    .item-card, .product-cat-template .item-card {
        width: 45.3%;
    }
    .product-cat-template .product_loop_description {
        margin-top: 0.5em;
    }
    .title-on-the-image {
        position: absolute;
        top: 28%;
        color: #fff;
        left: 9%;
        font-size: 48px;
    }
    .product-cat-template .home_img_bg_product {
        top: 6%;
        right: 9%;
    }
    .header-currency {
        display: none;
    }
}
@media(max-width: 767px) {
    h2 {
        font-size: 32px;
    }
    .title-on-the-image {
        font-size: 22px;
        top: 40%;
        left: 9%;
    }
    .category {
        padding: 0 0em;
    }
    footer .anim-underline {
        margin: 0 0 2em;
    }
    .footer-bottom-row img {
        margin-bottom: 1em;
    }
    .home-product-4-row .woocommerce-loop-product__link {
        padding: 0 0.1em;
    }
    .item-card, .product-cat-template .item-card {
        width: 44%;
    }
    .home_img_bg_product {
        width: 25%;
        position: absolute;
        top: 5%;
        right: 10%;
    }
    .columns-1 .item-card {
        width: 100%;
        top: 0;
        padding: 0em 0.6em 0.4em 0.6em;
    }
    .columns-1 .item-card .product_loop_description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        margin-top: 0em;
    }
    .product-cat-template .columns-1 .item-card img {
        width: 67%;
        z-index: 1;
    }
    .columns-3 .item-card {
        width: 27.7%;
        margin: 2px 0.6em;
        padding: 0.8em 0.2em 0.4em;
    }
    .product-cat-template .item-card h2, .product-cat-template .item-card .price {
        font-size: 15px !important;
        font-weight: 400 !important;
        color: #000 !important;
        margin: 0 !important;
    }
    .product-cat-template .columns-1 .item-card {
        overflow: hidden;
        float: left;
        position: relative;
        width: 100%;
        background: #fff;
        list-style-type: none;
        margin: 0px 0.6em;
        padding: 0.2em 0.8em 0.5em 0.8em;
    }
}
@media(max-width: 527px) {
    .item-card, .product-cat-template .item-card {
        overflow: hidden;
        float: left;
        position: relative;
        width: 50%;
        background: #fff;
        list-style-type: none;
        margin: 0 0 2em;
        padding: 0em 1em;
    }
    .columns-3 .item-card {
        width: 40.7%;
        margin: 2px 0.6em;
        padding: 0.8em 0.2em 0.4em;
    }
}
@media(max-width: 480px) {
    .columns-4 .item-card {
        width: 97%;
    }
    .columns-3 .item-card {
        width: 97%;
        margin: 2px 0.6em;
        padding: 0.8em 0.2em 1.4em;
    }
    .home_img_bg_product {
        display: none;
    }
    .category {
        padding: 0 1em;
    }
    .title-on-the-image {
        top: 30%;
    }
}
.item-card:before {
    box-sizing: border-box;
    transform: translateX(100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
}

.item-card:after {
    box-sizing: border-box;
    transform: translateX(-100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.item-card:hover {
    color: inherit;
    text-decoration: none;
}

.item-card:hover:before {
    transition: border 3s, 0.2s transform linear, 0.2s height linear 0.2s;
    transform: translateX(0);
    height: 100%;
    border-color: #000;
    z-index: 0;
}

.item-card:hover:after {
    transition: border 4s, 0.2s transform linear 0.4s, 0.3s height linear 0.6s;
    transform: translateX(0);
    height: 100%;
    border-color: #000;
    z-index: 0;
}
.text-center {
    text-align: center;
}

.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    width: 27%;
    margin: 0px 0 3em;
    padding: 30px;
    height: 15em;
}
.woocommerce .products ul, .woocommerce ul.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
    display: flex;
    flex-wrap: wrap;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 0;
    margin: 0;
}
.product-cart-img {
    z-index: 1;
}
/*product list woo end*/

@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1161px !important;
}
}
/*faq*/
.c-accordion__title {
    cursor: pointer;
    padding-left: 2rem;
    position: relative;
}
.c-accordion__title:after {
    color: #484848;
    content: "+";
    font-weight: 300;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
}
.is-open>.c-accordion__title {
    border-top: 1px solid;
    margin-top: 26px;
    padding-top: 26px;
}
.is-open>.c-accordion__title:after {
    content: "−";
    padding-top: 26px;
}
.nomargin { 
    margin: 0;
}
/*About Us*/
.page-template-about-us .about-us_img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.page-template-about-us .small-text {
    font-size: 16px;
}
.side-currency {
    margin: 20px 0;
}
.currency-swither .form-select:focus, .currency-swither select:focus {
    border-color: gray;
    outline: 0;
    box-shadow: none;
}
.page-product-shortcode .item-card {
    overflow: hidden;
   float: left;
   padding: 1.2em;
   position: relative;
   background: #fff;
   list-style-type: none;
   margin: 0 0.6em;
   padding: 1em 1.2em 1.4em;
}
.page-product-shortcode .product-icon {
   display: none;
}

.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    word-wrap: normal!important;
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    overflow-wrap: normal!important;
    padding: 0;
    position: absolute!important;
    width: 1px
}

.screen-reader-text:focus {
    clip: auto!important;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
    -webkit-clip-path: none;
    clip-path: none;
    color: #2b2d2f;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}
button.header-burger-button, button.header-burger-button:focus, button.header-burger-button:hover, button.header-burger-button:focus-visible {
    border: none !important;
    background: none!important;
    padding: 0;
    background-color: none!important;
}
.footer-social a img {
    display: inline;
}
@media (max-width:450px) {
    .mobile-img {
        display: block !important;
    }
    .desktop-img {
        display: none !important;
    }
    .page-template-about-us .about-us_img {
        object-fit: cover;
        height: auto;
        width: 100%;
    }
}
@media (min-width: 451px){
    .mobile-img {
        display: none !important;
    }
    .desktop-img {
        display: block !important;
    }
}
ul.row.line-height-none {
    line-height: normal;
}

/*product page*/
.buy-btn-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-to-cart-info-block {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.add-to-cart-info-block_extra {
    display: flex;
    align-items: center;
}
  
.add-to-cart-info-block_extra p {
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 16px;
}

.sidebar-cart-iconblock {
    margin: 1.1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-cart-iconblock p {
    margin: 0 0 0 15px;
}

.product-notes-gallery {
    display: flex; 
    justify-content: space-around;
}

.product-notes-gallery_item {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.product-notes-gallery_item-text {
    margin: 15px 0;
}

.product-notes-gallery_item img {
    border: 2px solid #00000017;
    border-radius: 50%;
}

@media(max-width: 991px) {

    .add-to-cart-info-block_extra p {
        padding: 0 0 0 10px;
    }

    .product-info p.price {
        font-size: 30px!important;
    }

    .product-notes-gallery_item img {
        height: 100px;
        width: 100px;
      }
}
@media(max-width: 767px) {

    .add-to-cart-info-block {
        display: flex;
        width: 100%;
        margin-bottom: 2rem;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }

    .product-notes-gallery_item img {
        height: auto;
        width: 90%;
    }

    .product-notes-gallery_item {
        padding: 1px;
    }

    .product-notes-gallery_item-text {
        font-size: 15px!important;
    }
}

@media(max-width:420px) {
    .product-notes-gallery_item-title {
      padding: 0 15px;
    }
}
/*product page end*/